.editable-text {
  margin: 0.2rem;
  transition: all 0.35s ease-in-out;
  border-radius: 0.4em;
  padding: 0.2em;
}

.editable-text:hover {
  background-color: var(--bg-light);
  height: max-content;
  cursor: pointer;
}

.show-toggle:hover .toggle-button {
  opacity: 1;
}

.action-item:hover {
  cursor: pointer;
}

.action-item {
  height: max-content;
  padding: 0.2rem !important;
  font-size: smaller;
}

.toggle-button {
  opacity: 0;
}

.position-fixed {
  position: fixed;  
}

.toggle-button:hover, .toggle-button:focus {
  opacity: 1;
}
