@import 'variables.css';

a {
  color: var(--my-link) !important;
}

a:hover {
  color: var(--my-link-hover) !important;
}

.wrapper {
  max-width: 880px !important;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

#page-container {
  min-height: 100vh;
  background: rgb(208, 196, 242);
  background: linear-gradient(90deg, rgba(208, 196, 242, 1) 0%, rgba(227, 230, 243, 1) 36%, rgba(213, 236, 237, 1) 99%);
}
