@import 'variables.css';

a {
  color: var(--my-link) !important;
}

a:hover {
  color: var(--my-link-hover) !important;
}

.wrapper {
  max-width: 880px !important;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

#page-container {
  min-height: 100vh;
  background-color: var(--bg-dark); 
}
