@import 'open-color/open-color.css';

:root {
  --my-light: #fff;
  --bg-light: var(--oc-gray-1);
  --bg-dark: var(--oc-gray-8);
  --bg-darkest: var(--oc-gray-9);
  --my-theme: var(--oc-yellow-2);
  --my-link: var(--oc-cyan-3);
  --my-link-hover: var(--oc-cyan-6);
}
